@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background-color: #fcfce2; 
  margin: 0;
  padding: 20px;
}

h1{
    text-align: center;
    color: #4d3e6b;
}

section {
  background: #81749c;
  color: #eee3ff;
  padding: 30px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 600px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input, select {
  width: 90%;
  padding: 7.5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #4d3e6b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Saldo */
.positivo {
  color: #9dfc78; 
   font-weight: bold;
}

.negativo {
  color: #ff6284;
   font-weight: bold;
}

#entradas {
  color: #91cbf0;
  font-weight: bold;
}

#saidas {
  color: #8dd7da;
  font-weight: bold;
}

