# Variáveis de ambiente locais
# Substitua pelo valor real da sua chave Google Generative AI
GOOGLE_API_KEY= Chave Api do google
DB_HOST=postgres
DB_USER=postgres
DB_PASSWORD= Senha do banco de dados
DB_NAME=financas
DB_PORT=5432
PORT=3000
